<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="brandName">

        <% brandList.forEach(data => { %>

            <button type="submit" onClick="brandClicked(this.id)" class="brand" id="<%= data.name %>">
                <%= data.name %>
            </button>

            <% }) %>


    </div>


    <script src="../JS/main.js"></script>
</body>

</html>